.app-header {
	height: 100%;
	padding: 5px;
	display: flex;
}

.timer {
	margin: auto;
}

.app-header-logo, .user-name {
	padding: 0 5px 0 0;
}

@media(max-width: 600px) {
	.app-header {
		flex-direction: column;
	}
	.user-name {
		margin-left: auto;
	}
}