<app-loading-modal *ngIf="!questionLoaded"></app-loading-modal>
<div *ngIf="questionLoaded" class="question-main-panel">
    <div class="question-panel">
        <!-- Question -->
        <div class="question-qa-panel">
            <div class="mb-3 mr-2" [@questionTrigger]>{{question.num}}. {{question.question}}</div>

            <!-- Options -->
            <div *ngIf="question && question.options">
                <div *ngIf="question.inputType === 'text'" class="form-group mr-2">
                    <input type="text" class="form-control mr-2" [(ngModel)]="textAnswer" name="name" (blur)="updateAnswer('text', question.id, 0, textAnswer)" [@textOptionTrigger]/>
                </div>
                <div *ngIf="question.inputType !== 'text'" class="mr-2">
                    <ol [@optionTrigger]="question.options.length" class="list-group">
                        <li *ngFor="let option of question.options; let i = index" class="list-group-item list-group-item-dark mr-2">
                            <input [type]="question.inputType" class="hand-cursor" name="name" [checked]="option.isSelected" (click)="updateAnswer(question.inputType, question.id, option.id, option.isSelected.toString())"> 
                            <span style="width: auto;" class="hand-cursor" (click)="updateAnswer(question.inputType, question.id, option.id, option.isSelected.toString())"> {{ option.optionValue }}</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Buttons -->
    <div class="question-panel-buttons-panel">
        <div class="hand-cursor">
            <input type="checkbox" class="mr-1" name="reviewlater" [checked]="question.reviewlater" (click)="onReviewLater(question)">
            <span (click)="onReviewLater(question)">Review Later</span>
            <!-- <ng-container *ngIf="true" style="color: red;" (click)="onReviewLater(question)">Review Later</ng-container> -->
        </div>
        <div class="question-panel-buttons">
            <button type="button" class="btn btn-primary"
                [ngClass]="{'hand-cursor': question.num !== 1, 'block-icon': question.num === 1}"
                [disabled]="question.num === 1" (click)="onGetNextOrPrevious(question.id, false)">Previous</button>
            <button type="button" class="btn btn-success hand-cursor" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn btn-primary"
                [ngClass]="{'hand-cursor': !isLastQuestion, 'block-icon': isLastQuestion}" [disabled]="isLastQuestion"
                (click)="onGetNextOrPrevious(question.id, true)">Next</button>
        </div>
    </div>
</div>
